@page
@model IdentityServerAspNetIdentity.Pages.Home.Index

<div class="welcome-page">
    <h1>
        <img src="~/GImports.png" class="logo">
        Bienvenido a Guatemala Feliz Imports
        <small class="text-muted"></small>
    </h1>

    <ul>
    </ul>
</div>
