<mat-toolbar color="Secondary">
  <span class="example-spacer"></span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space hero container max-w-screen-lg mx-auto pb-10 flex justify-center"></span>
  <div class="object-[center_bottom]">



    <button mat-button [matMenuTriggerFor]="admin">Admin</button>
    <mat-menu #admin="matMenu">
      <button mat-menu-item routerLink="/users-component">Users</button>
      <button mat-menu-item routerLink="/products">Products Category</button>
    </mat-menu>



    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/aboutus">About Us</button>

    <button mat-button [matMenuTriggerFor]="animals">Products</button>

    <mat-menu #animals="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
      <button mat-menu-item>Amphibians</button>
      <button mat-menu-item>Reptiles</button>
      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </mat-menu>

    <mat-menu #fish="matMenu">
      <button mat-menu-item>Baikal oilfish</button>
      <button mat-menu-item>Bala shark</button>
      <button mat-menu-item>Ballan wrasse</button>
      <button mat-menu-item>Bamboo shark</button>
      <button mat-menu-item>Banded killifish</button>
    </mat-menu>

    <button mat-button routerLink="/">Inventory</button>
    <button mat-button routerLink="/">Contact</button>
    <button mat-button routerLink="/logout">Logout</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>


</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">Clientes</button>
  <button mat-menu-item routerLink="/">Inventario</button>
    <button mat-menu-item routerLink="/logout">Cerrar sesión</button>
</mat-menu>
