.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}
nav {
  .logo {
    img {
      height: 5em;
      padding: left;
    }

    @media only screen and (min-width: 1000px) {
      position: center;
    }
  }
.mat-tab-links {
    display: flex;
    justify-content: flex-start;
  }
}
