<h1 mat-dialog-title>{{actiontitle}} Product </h1>
<div mat-dialog-content>
  <form [formGroup]="productInvForm">
    <mat-form-field appearance="outline">
      <mat-label>Product  Name</mat-label>
      <input formControlName="Name" matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Details</mat-label>
      <input formControlName="Details" matInput placeholder="Details">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Price</mat-label>
      <input formControlName="Price" matInput placeholder="Price">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select Category</mat-label>
      <mat-select *ngIf="productCategory$ | async; let products" formControlName="ProductId">
        <mat-option *ngFor="let product of products;" [value]="product.id">
          {{product.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
</div>















